#root {
  max-width: 1280px;
  margin: 5px auto;
  padding: 2rem;
  text-align: center;
}

.heading {
  font-size: 80px;
  font-weight: bold;
}

.message {
  font-size: 60px;
}

li, p {
  font-size: 20px;
  font-weight: bold;
}

.center {
 text-align: center;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  #root {
    padding: 1rem;
    margin: 5px auto;
    margin-top: -100px;
  }

  .heading {
    font-size: 50px;
  }

  .message {
    font-size: 50px;
  }

  li, p {
    font-size: 20px;
    font-weight: bold;
  }
}

@media (max-width: 480px) {
  .heading {
    font-size: 35px;
  }

  .message {
    font-size: 50px;
  }

  li, p {
    font-size: 20px;
    font-weight: bold;
  }
}